*.obj
*.exe
*.dll
*.exp
*.pdb
*.sdf
*.suo
.vs
CMakeFiles
*.tlog
output
boost-output
boost/bin.v2
boost/libs/config/checks/architecture/bin
boost/stage
boost/project-config.jam
boost/bootstrap.log
boost/bjam.exe
boost/b2.exe


